<!DOCTYPE HTML>

<html>
	<head>
		<title>Notes Hub | Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<ul>
							  <% for(var i=0; i<students.length; i++) {%>
							    <li>
							      <span><%= students[i].name %></span>
							      <span><%= students[i].register %></span>
							    </li>
							  <% } %>
							</ul>
						</div>
					</section>

			
				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>Design: <a>Open Source Tools</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>