<!DOCTYPE HTML>

<html>
	<head>
		<title>Notes Hub | SignIn</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

					<header id="header" class="alt">
						<nav>
							<a href="/signup"><button>Signup</button></a>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h1 align="center">SignIn</h1>
							<form method="POST" action="">
								<div class="field">
									<label for="reg">Register Number</label>
									<input type="text" name="reg" id="reg" />
								</div>
								<div class="field">
									<label for="reg">Password</label>
									<input type="password" name="password" id="password" />
								</div>
								<div class="field">
									<center><input type="submit" value="Signin"/></center>
								</div>
							</form>
						</div>
					</section>

				
				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>Design: <a>Open Source Tools</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>